h1{
 text-align: center;
}
.main{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.firstpic{
    height: 300px;
    width: 100%;
}
.text{
    text-align: center;
}
.imagesbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.images{
width: 80px;
height: 80px;
}